---
// Component Imports
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>
	<body class="bg-gray-400">
		<Navbar 
		button1="Generator"
		button2=""
		href1="/generator"
		href2=""
		/>
		
		<div class="flex">
			<div class="info">
				<p>Välkommen till XTREMEFIT - din ultimata träningspartner!

					XTREMEFIT är din träningsgenerator som tar din träning till nästa nivå. Oavsett om du är en nybörjare som vill komma igång med träningen eller en erfaren atlet som vill utmana dig själv, har vi det perfekta träningsprogrammet för dig.
					
					Med XTREMEFIT kan du skapa anpassade träningsprogram som är skräddarsydda efter dina mål, fitnessnivå och tillgänglig tid. Vår enkla och intuitiva plattform gör det enkelt att planera och följa ditt träningsprogram. Du kommer att ha tillgång till en mängd olika övningar och träningsrutiner, så du kommer aldrig att tröttna på din träning.
					
					Vi förstår att träning inte bara handlar om att forma kroppen, det handlar också om att stärka ditt sinne och förbättra din hälsa. Därför erbjuder XTREMEFIT också resurser och rådgivning om kost och hälsosam livsstil för att hjälpa dig att uppnå dina mål på ett hållbart sätt.
					
					Oavsett om du vill bygga muskler, bränna fett eller helt enkelt förbättra din hälsa, så är XTREMEFIT här för att stödja dig på din träningsresa. Kom igång redan idag och upplev fördelarna med en personlig träningsupplevelse som är skräddarsydd för dig. XTREMEFIT - din väg till extrem fitness!</p>
			</div>

			<div class="start">
				<button>Börja nu</button>
			</div>
		</div>

		<Footer></Footer>
<style>
	.flex{
		position: absolute;
		border: 0.3rem solid #000;
		border-radius: 0.5rem;
		height: 38rem;
		width: 80rem;
		margin-top: 2rem;
		margin-left: 15rem;
	}

	.info{
		position: absolute;
		border: 0.3rem solid #000;
		border-radius: 0.5rem;
		height: 25rem;
		width: 70rem;

		margin-top: 2rem;
		margin-left: 5rem;
		/* padding: 20rem; */	
		
		text-decoration: none;
		color: black;
		background-color: gray;
		opacity: 0.8;
	}

	p{
		/* position: absolute; */
		margin-top: 7rem;
		
		transition: color 0.8s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.start{
		/* position: absolute; */
		@apply hover:text-purple-500 transition-colors ease-in-out duration-200;
		border: 0.3rem solid #000;
		border-radius: 0.5rem;
		background-color: rgb(154, 130, 196);
		height: 5rem;
		width: 10rem;

		margin-top: 30rem;
		margin-left: 35rem;
	}

	button{
		margin-top: 1.5rem;
		margin-left: 2.5rem;
	}
</style>
	</body>
</html>
