---
// Component Imports
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/body.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="sv">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo_x.png" />
		<meta name="generator" content={Astro.generator} />
		<title>xtremefit</title>
	</head>
	<body class="bg-gray-400">
		<Navbar 
		button1="Generator"
		button2=""
		href1="/generator"
		href2=""
		/>


	<div id="omoss" class="omsidan ">
	<p class="text-xl">Välkommen till XTREMEFIT - din ultimata träningspartner!</p>
<p>
	
			XTREMEFIT är din träningsgenerator som tar din träning till nästa nivå. Oavsett om du är en nybörjare som vill komma igång med träningen eller en erfaren atlet som vill utmana dig själv, har vi det perfekta träningsprogrammet för dig.
</p>
<p>
	
			Med XTREMEFIT kan du skapa anpassade träningsprogram som är skräddarsydda efter dina mål, fitnessnivå och tillgänglig tid. Vår enkla och intuitiva plattform gör det enkelt att planera och följa ditt träningsprogram. Du kommer att ha tillgång till en mängd olika övningar och träningsrutiner, så du kommer aldrig att tröttna på din träning.
</p>
<p>
	
			Vi förstår att träning inte bara handlar om att forma kroppen, det handlar också om att stärka ditt sinne och förbättra din hälsa. Därför erbjuder XTREMEFIT också resurser och rådgivning om kost och hälsosam livsstil för att hjälpa dig att uppnå dina mål på ett hållbart sätt.
</p>
<p>
	
			Oavsett om du vill bygga muskler, bränna fett eller helt enkelt förbättra din hälsa, så är XTREMEFIT här för att stödja dig på din träningsresa. Kom igång redan idag och upplev fördelarna med en personlig träningsupplevelse som är skräddarsydd för dig. XTREMEFIT - din väg till extrem fitness!
</p>
	</div>

				
	<div class=" wrapper">
	
		<a href="/generator" class=" wrapper__card">
			<div class=" wrapper__card__img "> </div>
			<p class=" wrapper__card__text">Starta nu</p>
		</a>
		
    </div>
	
		
		<Footer></Footer>
<style>
	
*,
*::before,
*::after {
    box-sizing: border-box;
}
	body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content repeat(17, 1fr) min-content;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.omsidan {
	@apply bg-gray-200;
	color: #000;
    grid-row: 2 / 3;
    padding: 20px 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
	line-height: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.wrapper {
    grid-row: 3 / 20;
    display: grid;
    padding: 30px 100px;
    background-color: #;


    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.wrapper__card {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #E0DECA;
    height: 300px;
    padding: 10px;
}

.wrapper__card__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.wrapper__card__text {
	margin-top: -7rem;
	margin-left: 42rem;
	font-size: 5rem;
}



</style>
	</body>
</html>
