---
// Component Imports
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Nav.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>
	<body class="bg-gray-400">
		<Navbar 
		button1="Generator"
		button2=""
		href1="/generator"
		href2=""
		/>
		

		<div class=" flex
		">


		</div>

	</body>
</html>
