<div class="wrapper fixed bottom-0 h-30 ">
    <div>
    <h3>Contacts:</h3>

    <p>Tik Tok: example@example.com</p>
    <p>Twitter example@example.com</p>
    <p>Facebook example@example.com</p>
    </div>

    <div>
        <h3>Links</h3>
        <p><a href="https://docs.astro.build/en/getting-started/">Astro Docs</a></p>
        <p><a href="https://flask.palletsprojects.com/en/2.3.x/">Flask</a></p>
        <p><a href="https://tailwindcss.com/">Tailwind Css</a></p>
        <p><a href="https://sass-lang.com/documentation/">Scss</a></p>
        <p><a href="https://www.styrkelabbet.se/tre-skal-att-folja-ett-traningsprogram/">Styrkelabbet</a></p>
        <p><a href="https://www.styrkelabbet.se/tre-skal-att-folja-ett-traningsprogram/">Riksidrottsförbundet </a></p>
    </div>
</div>

<style>
    .wrapper {
        border: 1px solid #000;
        width: 100%;
        background-color: #4b5563;
        color: black;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
    }
    .wrapper div{
        margin: 20px;

    }
    h3 {
        font-size: larger;
        color: white;
    }
    p {
        color: white;
    }
</style>
