<!-- 

    <div class="grid place-items-center h-screen content-center">
    <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline purple"
        >Markdown is also supported...</a
    >

    <ul role="list" class="link-card-grid">
        <Card
            href=""
            title="Noa"
            body="noa is a super pro master ultra programmer who made this site"
        />
        <Card
            href=""
            title="Araz"
            body="aron is going to make videos of himself training naked for the project and is secretly dating a transgender aka ms dickpic "
        />
        <Card
            href=""
            title="Kevin"
            body="kevin is special-needs"
        />
        <Card
            href=""
            title="Kassim"
            body="kassim is top g and that means that he will give noa 69 595 995kr "
        />
    </ul>
</div>

<style>
    .purple {
        @apply hover:text-purple-500 transition-colors ease-in-out duration-200;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style> 
-->