---
export interface Props {
	button1: string;
	button2: string;
	href1: string;
	href2: string;
}

const { href1, href2, button1, button2 } = Astro.props;
---

<div>
    <a href=""></a>
    <a href=""></a>

</div>

<style>
    

</style>